body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
* {
    box-sizing: border-box;   
}
body > div {
    box-shadow: -10px 10px 20px #A0A0A0;
    border: solid 1px #A0A0A0;
}
#error{
    color: red;
}
#gagnant{
    background-color: green;
}
#start{
    position: absolute;
    bottom: -100px;
    right: 10px;
}
#NomPartie{
    position: absolute; 
    bottom: 0px;
    right: 540px;
}
#syllabe{
    border: solid;
    position: absolute;
    bottom: 0px;
    right: 440px;
    font-size: 30px;
    color: green;
}
#timer{
    border: solid;
    position: absolute;
    bottom: -0px;
    right: 30px;
    color:red;
}
#essai{  
    position: absolute;
    bottom: -0px;
    right: 60px;
}
#Manche{
    position: absolute;
    bottom: 0px;
    right: 160px;
}
#debutTour {
    left: 0%;
    top: 0%;
    position: absolute;
    height: 100%;
    width: 100%;
    color: black;
    font-size: 30px;
    background-image: url(../images/background2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#classement{
    color: black;
    font-size: 30px;
    background-image: url(../images/background2.jpg);
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
#content {
    position: absolute;
    top:30px;
    left: 10%;
    height: 90%;
    width: 35%;
    background-color: beige;
    padding: 10px;
}
#content h2, #content h3 {
    position: absolute;
    background-color: inherit;
    height: 22px;
    padding: 5px;
    line-height: 16px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
}
#content_dessin h2{
    position: absolute;
    background-color: inherit;
    height: 22px;
    padding: 5px;
    line-height: 16px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    border-top: inherit;
    border-left: inherit;
    border-right: inherit;
}
#content h2 {
    top: -35px;
    left: -1px;
}
#content h3 {
    right: -11px;
    top: -28px;
    transform-origin: left center;
    transform: translateX(100%) rotate(90deg);
}
#content main {
    position: relative;
    height: calc(100% - 30px);
    width: calc(100% - 170px);
    background-color: white;
    overflow-y: scroll;
    line-height: 1.2;
}
#content main p {
    line-height: 1;
    font-size: 16px;
    margin: 3px;
}
#content main .mp {
    color: darkblue;   
}
#content main .moi {
    color: green;   
}
#content main .system {
    color: red;   
}
#content main img {
    max-width: 50%;
    vertical-align: text-top;
}   

/** Pied de zone de chat */        
#content footer {
    position: absolute; 
    bottom: 0;
    padding: 0px; 
    width: calc(100% - 20px);
    height: 30px;
    background-color: inherit;
}
#content footer input {
    height: 22px;
    font-size: 15px;
}
#content > footer input:first-child {
    width: calc(100% - 250px);
    font-size: 12px;
}
#content > footer input:last-child {
    float: right;
}

#content aside {
    width: 160px;
    float: right;
    margin: 0px;
    padding: 5px;
    height: calc(100% - 30px);
    background-color: white;
    line-height: 1;
    font-size: 14px;
}
        
/** 
 * Style pour les émoticones
 */
.emoji {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("../images/emoji.png");
    background-size: 72px 72px;
}  
.rire {
    background-position: -4px -4px;   
}
.zzz {
    background-position: -28px -4px;   
}
.love {
    background-position: -52px -4px;   
}
.holala {
    background-position: -4px -28px;   
}
.grrr {
    background-position: -28px -28px;   
}
.triste {
    background-position: -52px -28px;   
}
.sourire {
    background-position: -4px -52px;   
}
.banane {
    background-position: -28px -52px;   
}
.malade {
    background-position: -52px -52px;   
}

        
input[type=radio]:checked + div {
    display: block;   
}
    
        
#logScreen, input[name="btnScreen"] {
    background: rgba(200, 200, 200, 0.8);
    position: absolute; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#logScreen > div {
    text-align: center;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    border: solid 2px #000;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000;
}
#logScreen input, #radio1, #radio2 {
    padding: 3px;
    font-size: 80%;
    margin: 10px;
}
#debutTour{
    display: none;
}


#bcImage {
    width: 400px;
    height: 80%;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    background: darkgrey;
    border: solid 1px #333;
    box-shadow: 10px 10px 10px #000;
    border-radius: 5px;
}
#bcImage input[type=text] {
    margin: 10px;
    width: calc(100% - 120px);
}
#bcImage #btnFermer {
    position: absolute; 
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#bcImage #bcResults {
    height: calc(100% - 80px);
    background-color: white;
    overflow: scroll;
}
#bcImage #bcResults {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
#bcResults img {
    width: 190px;
    margin: 2px;
    height: auto;
    cursor: pointer;
    align-self: center;
}


/** CSS 2**/

#content_dessin {
    position: absolute;
    left:50%;
    top: 0%;
    width: 620px;
    height: 500px;
    margin: 10px auto;
}
    
#content_dessin canvas {
    cursor: none;
    border: solid 1px #000;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 30px; 
    right:0%;
}
#content_dessin canvas#overlay {
    opacity: 0.8;
}
#content_dessin canvas#dessin {
    background-image: url('../images/bgDessin.png');
    background-size: 50px 50px;
    background-repeat: repeat;
}


#toolbox {
    position: absolute;
    width: 100px;
    left:0%;
    top: 30px;
    display: flex;
    flex-direction: column;
}
#toolbox > * {
    position: relative;
    width: 50px;
    box-sizing: border-box;
    height: 50px;
    padding: 0;
    margin-top: 10px;
    background-size: cover;
    padding: 2px; 
}
#toolbox input:not([type=range]) {
    display: none;
}   
#toolbox input[type=range] {
    margin: 0;
}
#toolbox label[for] {
    border: solid 1px #000;
}   
#toolbox label[for=tracer] {
    background-image: url(../images/icone-pinceau.png);   
}
#toolbox label[for=gommer] {
    background-image: url(../images/icone-gomme.png);   
}
#toolbox label[for=ligne] {
    background-image: url(../images/icone-trait.png);   
}
#toolbox label[for=rectangle] {
    background-image: url(../images/icone-rectangle.png);   
}
#toolbox input:checked + label[for] {
    box-shadow: blue 0 0 5px;
}  
#toolbox #new {
    background-image: url(../images/icone-nouveau.png);   
}
#toolbox #open {
    background-image: url(../images/icone-ouvrir.png);   
}
#toolbox #save {
    background-image: url(../images/icone-enregistrer.png);   
}
     
        
/** Style de la fenêtre modale contenant la liste des images */        
#modal {    
    font-family: sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: scroll;
    transform: translateX(-60%) translateY(-50%);
    background-color: lightgray;
    border-radius: 10px;
    border: solid 3px #000;
    width: 50%;
    height: 70%;
    display: none;
}

#modal table {
    margin: 10px auto;   
}
#modal tr {
    border: solid 1px #000;
    margin: 10px;
}
#modal td > img {
    width: 24px;
    height: 24px;
}
#modal td > img[src^=data] {
    width: 80px;
    height: 80px;
    border: solid 1px #000;
    margin-left: 10px;
}
        
#modal #fermer {
    position: absolute; 
    right: 0px;
    top: 0px;
    border-radius: 50%;
    width: 30px;
    height: 30px;    
}
#modal #fermer::before, #modal #fermer::after {
    content: '';
    position: absolute;
    width: 70%;
    height: 20%;
    top: 50%;
    left: 50%;
    background-color: black;
}
#modal #fermer::before {
    transform: translateX(-50%) translateY(-50%) rotate(45deg) ;    
}
#modal #fermer::after {
    transform: translateX(-50%) translateY(-50%) rotate(-45deg) ;    
}
#modal h3 {
    padding-left: 10%;
}

/** CSS1**/
body {
    padding: 0;
    margin: 0;
    font-family: verdana, sans-serif; 
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

main {
    position: absolute;   
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#affichage {
    position: relative;
    top: 5vh;
    text-align: center;
}
#all{
    display: none;
}
#choix {
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
}
#debutTour  p {
    position: absolute;
    top:50%;
    text-align: center;
    color:black;
    font-size: 30px;
}
#choix > * {
    cursor: pointer;   
    align-self: flex-start;
    text-align: center;
}

.correct {
    color: darkgreen;
}
.incorrect {
    color: red;   
}

.solution {
    display: none;
    font-size: 60%;
    text-align: center;
}

.correct .solution, .incorrect .solution {
    display: block;   
}


/****************************************************
 **                   Scores                       **
 ****************************************************/
#scores {
    position: absolute;
    top: 0;
    right: 0;
}


/****************************************************
 **              Menu des options                  **
 ****************************************************/

 

/* bouton pour afficher/cacher */
#btnOptions {
    position: absolute; 
    top: 1vh;
    left: 1vh;
    cursor: pointer;
}
#btnOptions::before {
    content: '\2630';
    text-align: center;
    border: solid 2px #000;
    font-size: 3vh;
    padding: 0vh 1vh 0.6vh 1vh;
    border-radius: 4px;
}

/* zone des options */
#options {
    --bg-color: #1e3250;
    --fg-color: white;
    position: fixed;
    display: none;
    overflow-y: scroll;
    box-sizing: border-box;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    color: var(--fg-color);
    background-color: var(--bg-color);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#options > * {
    margin: 2vh;   
    min-width: 20vw; 
}
#options h2 {
    text-align: center;   
}
#options label {
    margin: 0 1vh; 
    display: inline;
    cursor: pointer;
}
#cbOptions:checked ~ #options {
    display: flex;   
}
#cbOptions:checked ~ main {
    display: none;   
}
#options .bouton {
    display: inline-block;
    border: solid 1px white;
    padding: 1vh 2vh;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: auto;
    box-shadow: 0px 0px 5px white;
}
#options .bouton:hover {
    color: var(--bg-color);
    background-color: var(--fg-color);
}




/**********************************************************
 ***                   Style responsive                 ***
 **********************************************************/


@media all and (orientation: portrait) {
    #choix { 
        font-size: 20vw;
    }
    #affichage {
        margin-top: 20vh;
        font-size: 35vw;   
    }
    #scores {
        width: 50%;
        text-align: right;
        font-size: 2vh;
    }
    #options {
        font-size: 3vw;
        min-height: 480px;
        max-width: 600px;
        min-width: 320px;
    }
}


@media all and (orientation: landscape) {
    #choix {
        font-size: 20vh;
    }
    #affichage {
        font-size: 35vh;   
    }
    #scores {
        font-size: 2.7vh;
    }
    #options {
        width: 80vw;
        height: 90vh; 
        font-size: 2.5vh;
        line-height: 2.5vh;
    }
    #options p {
        margin-bottom: 1vh;   
    }
    #options input {
        height: 2.5vh;
    }
    #options table {
        margin: 0;   
    }
    
}
